body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200vh;
  background-color: #0b1522; 
  transition: background-color 2s ease; 
}

.title {
  text-align: center;
  color: #E8FFFE; 
  margin-top: 20px;
  opacity: 0; 
  position: absolute;
  top: 20px; 
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
}

.heart {
  height: 70px;
  width: 70px;
  background: #f0044;
  position: absolute;
  transform: rotate(-45deg);
  box-shadow: -10px 10px 90px #f20044;
  animation: heart 0.6s linear infinite;
}

@keyframes heart {
  0% {
    transform: rotate(-45deg) scale(1.07);
  }
  80% {
    transform: rotate(-45deg) scale(1.0);
  }
  100% {
    transform: rotate(-45deg) scale(0.8);
  }
}

.heart:before {
  content: '';
  position: absolute;
  height: 70px;
  width: 70px;
  background: #f20044;
  top: -50%;
  border-radius: 50px;
  box-shadow: -10px -10px 90px #f20044;
}

.heart:after {
  content: '';
  position: absolute;
  height: 70px;
  width: 70px;
  background: #f20044;
  right: -50%;
  border-radius: 50px;
  box-shadow: 10px 10px 90px #f20044;
}

.love-letter {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: justify;
  color: #F5F5F5; /* Frost white color */
  font-family: 'Lobster Two', cursive;
  opacity: 1;
  transition: opacity 2s ease; /* Smooth transition for opacity */
}

.love-letter p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.6;
}

.love-letter p:last-child {
  margin-bottom: 0;
}

.image-container {
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; /* Adjust the margin-top as needed */
}

.rounded-image {
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    border-radius: 20px; /* Adjust the border radius as needed */
    border: 2px solid #ccc; /* Adjust the border color and thickness as needed */
}
