body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFF0;
  flex-direction: column;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-family: inherit;
  font-size: 15px;
  transition: transform 0.5s, opacity 0.5s;
}

button.learn-more {
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 0.5s, background 150ms cubic-bezier(0, 0, 0.58, 1), opacity 0.5s;
}

button.learn-more::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more:hover {
  background: #ffe9e9;
  transform: translate(0, 0.25em);
}

button.learn-more:hover::before {
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  transform: translate3d(0, 0.5em, -1em);
}

button.learn-more:active {
  background: #ffe9e9;
  transform: translate(0em, 0.75em);
}

button.learn-more:active::before {
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
}

.large-polaroid-container {
  display: none;
  flex-direction: row;
  gap: 500px;
  text-align: center;
  position: relative;
}

.polaroid {
  position: absolute;
  padding: 10px 10px 30px;
  border: 1px solid #BFBFBF;
  background: white;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  transition: transform 0.3s, width 0.5s, height 0.5s, opacity 0.5s;
}

.polaroid img {
  width: 100%;
  height: auto;
  transition: opacity 1s;
}

.polaroid img.hidden {
  opacity: 0;
}

.polaroid:hover {
  transform: scale(1.05);
}

.large-polaroid {
  width: 300px;
  height: auto;
  opacity: 0;
}

#polaroid2, #polaroid4 {
  left: 0;
}

.large-caption {
  font-size: 1.2em;
  opacity: 1; 
  text-align: center;
  margin-top: 20px;
  white-space: nowrap; 
  overflow: hidden; 
}

.small-polaroid-container {
  display: none;
  flex-direction: row;
  gap: 200px;
  justify-content: center;
}

.small-polaroid-container .polaroid {
  width: 0;
  height: 0;
  opacity: 0;
}

.caption {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  color: #333;
}
